.bg-details-color {
  height: 100vh;
}
p {
  font-weight: bold;
}
.host-van-details:nth-child(3) {
  font-weight: bold;
}
.span {
  font-weight: none;
}
.photos-img {
  margin-top: 10px;
  height: 70px;
  width: 70px;
}
span {
  font-weight: normal;
}
