img {
  height: 50%;
  width: 50%;
  border-radius: 10px;
}
.vansizing {
  margin-top: 10px;
  width: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
@media screen and (max-width: 360px) {
  .vansizing {
    width: 300px;
    flex-wrap: wrap;
  }
}
.display-data {
  flex-grow: inherit;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-size: cover;
}
h1,
p {
  color: black;
}

.eachvan {
  display: flex;
  justify-content: center;
  width: 50%;
  flex-wrap: wrap;
}
